:root {
  --ion-background-color: #ffffff;
  --ion-item-background: #ffffff;

  /* IMPORTANT: header transparency fix */
  --ion-toolbar-background: transparent;

  /* keep tab bar color */
  --ion-tab-bar-background: #DBD1D6;

  /* optional text color */
  --ion-text-color: #491B6D;
}