/* ============================
   EXTRA BUTTONS
   ============================ */
.add-tasks-button {
  position: absolute;
  bottom: 50px;
  right: 30px;
  height: 30px;
  width: 30px;
  transform: translate(-50%, -50%);
}

/* ============================
   ASSIGNMENT VIEW PAGE
   ============================ */
/* Extra bottom padding so last task isn't hidden behind tab bar */
.assignment-view-page {
  /* background: white;
  /* --background: white;  /* Ionic content background */
  /* min-height: 100vh; */
}