
.session-buttons{
    display:flex;
    justify-content: center; /* centers the buttons horizontally */
    gap: 12px;   
    top: 50%;
    position: relative;
}
.session-button {
  flex: 1;                 /* optional: makes them equal width */
  max-width: 200px;
  font-size: 30px;
  height:100px;
  width: 200px;
  background-color: lightblue; /* light transparent */
}

.centered-text{
  position: absolute;
  font-style: italic;
  font-size: 30px;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%); 
  padding: 2em;
}